




/*jumbotron border*/
.container .jumbotron {
    @include border-top-radius(30px);
    @include border-bottom-radius(50px);
    background-color: $jumbo-background; 
}

.jumbotron h1 {
  color: $brand-primary;
}

.weather-forecast {
  display: grid; /* 1 */
  grid-template-columns: 1fr 1fr 1fr 1fr; /* 2 */
  grid-template-rows: 100vh; /* 3 */
}


