




/*jumbotron border*/
.container .jumbotron {
    @include border-top-radius(30px);
    @include border-bottom-radius(50px);
    background-color: $jumbo-background; 
}

.jumbotron h1 {
  color: $brand-primary;
}

.weather-forecast {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}


